dev/
target/
dist/
.direnv/

# Nix build results
result
result/
result-*
bin/

release-static/
*.tar.gz

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
